# 0. Orientações

- O laboratório deverá ser realizado em grupo, conforme publicado no Google Classroom.
- Apenas um dos integrantes deverá encaminhar o notebook contendo as respostas no prazo estabelecido. A pontuação será considerada para os demais integrantes.
- Organize suas respostas! Indique qual tópico está respondendo. Dica: utilize markdown para sinalizar os tópicos.
- Link para material prático de apoio a este laboratório utilizado em sala de aula: https://colab.research.google.com/drive/1gwaFd2PXOKbu7EhnTsaUYSrTmuCz3x6u

# 1. Pré-processamento

Você deverá realizar o pré-processamento num conjunto de dados abertos de obras do Tribunal de Contas do Estado do Paraná (TCE-PR).

Além do conjunto de dados de todas as obras, também será utilizado o conjunto de dados que armazena os dados de acompanhamentos de cada obra. Uma obra pode conter diversos registros de acompanhamento, que sinalizam o andamento e o ciclo de vida de uma obra.

O código para obtenção dos arquivos `.csv` está logo após o detalhamento de cada etapa de pré-processamento que deverá ser aplicada.

Caso deseje mais detalhes sobre os dados, segue o link: https://www1.tce.pr.gov.br/conteudo/dados-abertos-tce-pr-consulta-de-bases/318736/area/54

Link do dicionário de dados: https://servicos.tce.pr.gov.br/servicos/arquivos/dadosabertos/obrasmunicipais/obras_municipais_dicionario_de_dados.xlsx

Aplique cada uma das seguintes operações nos dados:

- 1.1. Ambos os conjuntos de dados possuem um elemento contendo apenas linhas horizontais na linha de índice 0. Remova esta linha de ambos.
- 1.2. Converta as colunas numéricas (segundo dicionário de dados) "nrMedida" e "vlIntervencao" do conjunto de dados de obras para o tipo "float". Utilize a estratégia "coerce" para eventuais erros.
- 1.3. A coluna "dsUnidadeMedidaIntervencao" dos dados de obra trata-se de uma coluna categórica. Analise os valores existentes e responda: existe algum valor fora do padrão? Se sim, remova a(s) linha(s) que possuem este comportamento. Considere como o domínio da informação os seguintes valores: "Metro quadrado", "Metro", "Hora", "Metro cúbico", "Quilômetro", "Hectare", "Tonelada", "Quilograma".
- 1.4. Remova linhas que possuem qualquer elemento nulo nos dados de obras.
- 1.5. Remova linhas que possuem valor nulo na coluna "idIntervencao" nos dados de acompanhamento de obras.
- 1.6. O conjunto de dados de obras possui algum elemento repetido? Se sim, remova-o.
- 1.7. Remova do conjunto de dados de obras as linhas que representam obras não concluídas (obras que não possuem registro de acompanhamento com valor "Conclusão" para a coluna "dsTipoAcompanhamento").
- 1.8. Converta as colunas categóricas do conjunto de dados de obras para valores numéricos (encoding). Sendo elas: "dsTipoINtervencao", "dsClassificacaoIntervencao", "dsTipoObra", "dsClassificacaoObra", "dsUnidadeMedidaIntervencao", "dsTipoRegimeIntervencao".
- 1.9. Converta as seguintes colunas do conjunto de dados de obras para valores numéricos, também normalizando os seus valores: "nrMedida", "vlIntervencao" e "nrPrazoExecucao".
- 1.10. Remova obras que não possuem nenhum acompanhamento registrado.
- 1.11. Adicione uma nova coluna no dataframe de obras contendo a quantidade de acompanhamentos existentes para cada obra.
- 1.12. Remova registros com valores discrepantes (outliers) para a coluna "vlIntervencao" para o conjunto de dados de obras.

O código para obtenção dos dados está nas células a seguir:

In [169]:
# download do arquivo "obras_municipais_base_de_dados_novo.csv" com dados de acompanhamentos de obras
#!gdown 1bM0MpoxGwBbtZx-lKgD-Q_fJ0JQjSydj

!wget https://servicos.tce.pr.gov.br/servicos/arquivos/dadosabertos/obrasmunicipais/obras_municipais_base_de_dados.csv

--2024-09-22 13:22:37--  https://servicos.tce.pr.gov.br/servicos/arquivos/dadosabertos/obrasmunicipais/obras_municipais_base_de_dados.csv
Resolvendo servicos.tce.pr.gov.br (servicos.tce.pr.gov.br)... 201.182.54.69
Conectando-se a servicos.tce.pr.gov.br (servicos.tce.pr.gov.br)|201.182.54.69|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Cookie vindo de servicos.tce.pr.gov.br tentou designar domínio como pr.gov.br
Tamanho: 24527123 (23M) [application/octet-stream]
Salvando em: ‘obras_municipais_base_de_dados.csv.1’

obras_municipais_ba 100%[===================>]  23,39M   669KB/s    em 56s

2024-09-22 13:23:34 (426 KB/s) - ‘obras_municipais_base_de_dados.csv.1’ salvo [24527123/24527123]

In [170]:
# download do arquivo "acompanhamentos_base_de_dados.csv" com dados de obras
#!gdown 1bmIQKjDlb5MTgR0b1ofUHnHWqhAhyu1u

!wget https://servicos.tce.pr.gov.br/servicos/arquivos/dadosabertos/obrasmunicipais/acompanhamentos_base_de_dados.csv

--2024-09-22 13:23:34--  https://servicos.tce.pr.gov.br/servicos/arquivos/dadosabertos/obrasmunicipais/acompanhamentos_base_de_dados.csv
Resolvendo servicos.tce.pr.gov.br (servicos.tce.pr.gov.br)... 201.182.54.69
Conectando-se a servicos.tce.pr.gov.br (servicos.tce.pr.gov.br)|201.182.54.69|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Cookie vindo de servicos.tce.pr.gov.br tentou designar domínio como pr.gov.br
Tamanho: 92056069 (88M) [application/octet-stream]
Salvando em: ‘acompanhamentos_base_de_dados.csv.1’

acompanhamentos_bas 100%[===================>]  87,79M   386KB/s    em 4m 26s

2024-09-22 13:28:01 (338 KB/s) - ‘acompanhamentos_base_de_dados.csv.1’ salvo [92056069/92056069]

In [171]:
!ls

acompanhamentos_base_de_dados.csv
acompanhamentos_base_de_dados.csv.1
Laboratório_1_Aprendizagem_de_Máquina_Clustering.ipynb
obras_municipais_base_de_dados.csv
obras_municipais_base_de_dados.csv.1

Para ler os dados em um dataframe com sucesso utilize os seguintes parâmetros: `low_memory=False, encoding='ISO-8859-1', delimiter=';'`

In [172]:
# Realizando importação das bibliotecas
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [173]:
df_acompanhamentos = pd.read_csv('acompanhamentos_base_de_dados.csv', sep=';', encoding='latin-1', low_memory=False, on_bad_lines='skip')
df_obras = pd.read_csv('obras_municipais_base_de_dados.csv', sep=';', encoding='latin-1', low_memory=False)

In [174]:
df_acompanhamentos.head()
df_obras.head()

,idIntervencao,nmPessoa,nrDocumento,cdIBGE,nmMunicipio,cdIntervencao,nrAnoIntervencao,dsTipoIntervencao,dsClassificacaoIntervencao,nmIntervencao,dsTipoObra,dsClassificacaoObra,dsObjeto,nrMedida,dsUnidadeMedidaIntervencao,vlIntervencao,dtBaseValorIntervencao,nrPrazoExecucao,dtInicio,dsTipoRegimeIntervencao
0,-------------,--------,-----------,------,-----------,-------------,----------------,-----------------,--------------------------,-------------,----------,-------------------,--------,--------,--------------------------,-------------,----------------------,---------------,--------,-----------------------
1,1,CAMARA MUNICIPAL DE SAO JOSE DOS PINHAIS,78173648000157,25506,SÃO JOSÉ DOS PINHAIS,1,2012,Adaptação à base nova,Adaptação à base nova,Reforma da construção do pédio administrativo ...,Edificação,Edifício Administrativo,"Reforma do prédio da Câmara Municipal, abrange...",1300.00,Metro quadrado,556552.19,04/12/2012 00:00:00,120,04/12/2012 00:00:00,Direto
2,2,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2012,Adaptação à base nova,Adaptação à base nova,REFORMA E AMPLIAÇÃO,Edificação,Escola/Colégio,fornecimento de materiais e mão de obra para r...,1895.51,Metro quadrado,209169.33,14/09/2012 00:00:00,120,24/09/2012 00:00:00,Indireto
3,3,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2012,Adaptação à base nova,Adaptação à base nova,REFORMA,Edificação,Escola/Colégio,Fornecimento de materiais e mão de obra para r...,559.89,Metro quadrado,272006.66,14/09/2012 00:00:00,120,24/09/2012 00:00:00,Indireto
4,4,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2011,Adaptação à base nova,Adaptação à base nova,CALÇADAS,Pavimentação,Estrada Municipal,EXECUÇÃO DE CALÇADAS EM RUAS DO CONJUNTO HABIT...,6720.83,Metro quadrado,178288.33,09/05/2011 00:00:00,112,19/05/2011 00:00:00,Indireto

#### 1.1. Ambos os conjuntos de dados possuem um elemento contendo apenas linhas horizontais na linha de índice 0. Remova esta linha de ambos.

In [175]:
df_acompanhamentos = df_acompanhamentos.drop(0)
df_obras = df_obras.drop(0)

#### 1.2. Converta as colunas numéricas (segundo dicionário de dados) "nrMedida" e "vlIntervencao" do conjunto de dados de obras para o tipo "float". Utilize a estratégia "coerce" para eventuais erros.

In [176]:
df_obras['nrMedida'] = pd.to_numeric(df_obras['nrMedida'], errors='coerce')
df_obras['vlIntervencao'] = pd.to_numeric(df_obras['vlIntervencao'], errors='coerce')

df_obras.dtypes

idIntervencao                  object
nmPessoa                       object
nrDocumento                    object
cdIBGE                         object
nmMunicipio                    object
cdIntervencao                  object
nrAnoIntervencao               object
dsTipoIntervencao              object
dsClassificacaoIntervencao     object
nmIntervencao                  object
dsTipoObra                     object
dsClassificacaoObra            object
dsObjeto                       object
nrMedida                      float64
dsUnidadeMedidaIntervencao     object
vlIntervencao                 float64
dtBaseValorIntervencao         object
nrPrazoExecucao                object
dtInicio                       object
dsTipoRegimeIntervencao        object
dtype: object

#### 1.3. A coluna "dsUnidadeMedidaIntervencao" dos dados de obra trata-se de uma coluna categórica. Analise os valores existentes e responda: existe algum valor fora do padrão? Se sim, remova a(s) linha(s) que possuem este comportamento. Considere como o domínio da informação os seguintes valores: "Metro quadrado", "Metro", "Hora", "Metro cúbico", "Quilômetro", "Hectare", "Tonelada", "Quilograma".

In [177]:
df_obras['dsUnidadeMedidaIntervencao'].value_counts()

dsUnidadeMedidaIntervencao
Metro quadrado         40312
Metro                   7342
Hora                     982
Metro cúbico             610
Quilômetro               493
Hectare                  408
Tonelada                 208
Quilograma                70
507189.69                  1
83250.00                   1
39125.11                   1
900080.58                  1
166944.41                  1
312264.89                  1
13/12/2019 00:00:00        1
101076.32                  1
29/11/2022 00:00:00        1
564500.08                  1
189865.51                  1
13437087.97                1
01/06/2024 00:00:00        1
230497.81                  1
Name: count, dtype: int64

Analisando os valores existentes na coluna dsUnidadeMedidaIntervencao percebemos que há valores fora do domínio como números float e datas.

Procedendo com a remoção das linhas com valores fora do domínio da informação

In [178]:
# removendo valores fora do padrão
df_obras = df_obras[df_obras['dsUnidadeMedidaIntervencao'].isin(["Metro quadrado", "Metro", "Hora", "Metro cúbico", "Quilômetro", "Hectare", "Tonelada", "Quilograma"])]

# verificando se a remoção foi realizada com sucesso
df_obras['dsUnidadeMedidaIntervencao'].value_counts()

dsUnidadeMedidaIntervencao
Metro quadrado    40312
Metro              7342
Hora                982
Metro cúbico        610
Quilômetro          493
Hectare             408
Tonelada            208
Quilograma           70
Name: count, dtype: int64

#### 1.4. Remova linhas que possuem qualquer elemento nulo nos dados de obras

In [179]:
df_obras = df_obras.dropna()

df_obras.isnull().sum()

idIntervencao                 0
nmPessoa                      0
nrDocumento                   0
cdIBGE                        0
nmMunicipio                   0
cdIntervencao                 0
nrAnoIntervencao              0
dsTipoIntervencao             0
dsClassificacaoIntervencao    0
nmIntervencao                 0
dsTipoObra                    0
dsClassificacaoObra           0
dsObjeto                      0
nrMedida                      0
dsUnidadeMedidaIntervencao    0
vlIntervencao                 0
dtBaseValorIntervencao        0
nrPrazoExecucao               0
dtInicio                      0
dsTipoRegimeIntervencao       0
dtype: int64

#### 1.5. Remova linhas que possuem valor nulo na coluna "idIntervencao" nos dados de acompanhamento de obras.

In [180]:
df_acompanhamentos.isnull().sum()

idIntervencao                      0
dsOrigemAcompanhamento             0
nrAcompanhamento                   0
dtAcompanhamento                   0
dsTipoAcompanhamento               0
nmResponsavel                      0
sgTipoDocumentoResponsavel         0
nrDocumentoResponsavel             0
dsObservacao                  197437
dsTipoMedicao                  91887
nrPercentualFisico             91931
dsMotivoParalisacao           450981
dtype: int64

In [181]:
df_acompanhamentos = df_acompanhamentos.dropna(subset=['idIntervencao'])

df_acompanhamentos.isnull().sum()

idIntervencao                      0
dsOrigemAcompanhamento             0
nrAcompanhamento                   0
dtAcompanhamento                   0
dsTipoAcompanhamento               0
nmResponsavel                      0
sgTipoDocumentoResponsavel         0
nrDocumentoResponsavel             0
dsObservacao                  197437
dsTipoMedicao                  91887
nrPercentualFisico             91931
dsMotivoParalisacao           450981
dtype: int64

#### 1.6. O conjunto de dados de obras possui algum elemento repetido? Se sim, remova-o.

In [182]:
df_obras = df_obras.drop_duplicates()

df_obras.duplicated().sum()

np.int64(0)

#### 1.7. Remova do conjunto de dados de obras as linhas que representam obras não concluídas (obras que não possuem registro de acompanhamento com valor "Conclusão" para a coluna "dsTipoAcompanhamento").

In [183]:
df_acompanhamentos['dsTipoAcompanhamento'].value_counts()

dsTipoAcompanhamento
Medição                        405889
Paralisação                     46792
Conclusão                       44569
Cancelamento de Intervenção       390
Cadastro indevido                 131
Name: count, dtype: int64

In [184]:
df_obras = df_obras[df_obras['idIntervencao'].isin(df_acompanhamentos[df_acompanhamentos['dsTipoAcompanhamento'] == 'Conclusão']['idIntervencao'])]

df_obras.shape

(44249, 20)

#### 1.8. Converta as colunas categóricas do conjunto de dados de obras para valores numéricos (encoding). Sendo elas: "dsTipoINtervencao", "dsClassificacaoIntervencao", "dsTipoObra", "dsClassificacaoObra", "dsUnidadeMedidaIntervencao", "dsTipoRegimeIntervencao".

In [185]:
le = LabelEncoder()

df_obras['dsTipoIntervencao'] = le.fit_transform(df_obras['dsTipoIntervencao'])
df_obras['dsClassificacaoIntervencao'] = le.fit_transform(df_obras['dsClassificacaoIntervencao'])
df_obras['dsTipoObra'] = le.fit_transform(df_obras['dsTipoObra'])
df_obras['dsClassificacaoObra'] = le.fit_transform(df_obras['dsClassificacaoObra'])
df_obras['dsUnidadeMedidaIntervencao'] = le.fit_transform(df_obras['dsUnidadeMedidaIntervencao'])
df_obras['dsTipoRegimeIntervencao'] = le.fit_transform(df_obras['dsTipoRegimeIntervencao'])

df_obras.head()

,idIntervencao,nmPessoa,nrDocumento,cdIBGE,nmMunicipio,cdIntervencao,nrAnoIntervencao,dsTipoIntervencao,dsClassificacaoIntervencao,nmIntervencao,dsTipoObra,dsClassificacaoObra,dsObjeto,nrMedida,dsUnidadeMedidaIntervencao,vlIntervencao,dtBaseValorIntervencao,nrPrazoExecucao,dtInicio,dsTipoRegimeIntervencao
1,1,CAMARA MUNICIPAL DE SAO JOSE DOS PINHAIS,78173648000157,25506,SÃO JOSÉ DOS PINHAIS,1,2012,0,0,Reforma da construção do pédio administrativo ...,0,9,"Reforma do prédio da Câmara Municipal, abrange...",1300.00,4,556552.19,04/12/2012 00:00:00,120,04/12/2012 00:00:00,0
2,2,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2012,0,0,REFORMA E AMPLIAÇÃO,0,10,fornecimento de materiais e mão de obra para r...,1895.51,4,209169.33,14/09/2012 00:00:00,120,24/09/2012 00:00:00,1
3,3,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2012,0,0,REFORMA,0,10,Fornecimento de materiais e mão de obra para r...,559.89,4,272006.66,14/09/2012 00:00:00,120,24/09/2012 00:00:00,1
4,4,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2011,0,0,CALÇADAS,4,12,EXECUÇÃO DE CALÇADAS EM RUAS DO CONJUNTO HABIT...,6720.83,4,178288.33,09/05/2011 00:00:00,112,19/05/2011 00:00:00,1
5,5,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2011,0,0,PAVIMENTAÇÃO COM PEDRA IRREGULAR,4,13,Fornecimento de material e mão de obra para o ...,10200.00,4,186297.92,10/06/2011 00:00:00,120,20/06/2011 00:00:00,1

#### 1.9. Converta as seguintes colunas do conjunto de dados de obras para valores numéricos, também normalizando os seus valores: "nrMedida", "vlIntervencao" e "nrPrazoExecucao".

In [186]:
df_obras.head()

,idIntervencao,nmPessoa,nrDocumento,cdIBGE,nmMunicipio,cdIntervencao,nrAnoIntervencao,dsTipoIntervencao,dsClassificacaoIntervencao,nmIntervencao,dsTipoObra,dsClassificacaoObra,dsObjeto,nrMedida,dsUnidadeMedidaIntervencao,vlIntervencao,dtBaseValorIntervencao,nrPrazoExecucao,dtInicio,dsTipoRegimeIntervencao
1,1,CAMARA MUNICIPAL DE SAO JOSE DOS PINHAIS,78173648000157,25506,SÃO JOSÉ DOS PINHAIS,1,2012,0,0,Reforma da construção do pédio administrativo ...,0,9,"Reforma do prédio da Câmara Municipal, abrange...",1300.00,4,556552.19,04/12/2012 00:00:00,120,04/12/2012 00:00:00,0
2,2,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2012,0,0,REFORMA E AMPLIAÇÃO,0,10,fornecimento de materiais e mão de obra para r...,1895.51,4,209169.33,14/09/2012 00:00:00,120,24/09/2012 00:00:00,1
3,3,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2012,0,0,REFORMA,0,10,Fornecimento de materiais e mão de obra para r...,559.89,4,272006.66,14/09/2012 00:00:00,120,24/09/2012 00:00:00,1
4,4,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2011,0,0,CALÇADAS,4,12,EXECUÇÃO DE CALÇADAS EM RUAS DO CONJUNTO HABIT...,6720.83,4,178288.33,09/05/2011 00:00:00,112,19/05/2011 00:00:00,1
5,5,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2011,0,0,PAVIMENTAÇÃO COM PEDRA IRREGULAR,4,13,Fornecimento de material e mão de obra para o ...,10200.00,4,186297.92,10/06/2011 00:00:00,120,20/06/2011 00:00:00,1

In [187]:
# convertendo as colunas para valores numéricos
df_obras['nrMedida'] = pd.to_numeric(df_obras['nrMedida'], errors='coerce')
df_obras['vlIntervencao'] = pd.to_numeric(df_obras['vlIntervencao'], errors='coerce')
df_obras['nrPrazoExecucao'] = pd.to_numeric(df_obras['nrPrazoExecucao'], errors='coerce')

# normalizando os valores
scaler = MinMaxScaler()

df_obras['nrMedida'] = scaler.fit_transform(df_obras[['nrMedida']])
df_obras['vlIntervencao'] = scaler.fit_transform(df_obras[['vlIntervencao']])
df_obras['nrPrazoExecucao'] = scaler.fit_transform(df_obras[['nrPrazoExecucao']])

df_obras.head()

# vericar se a normalização foi realizada com sucesso
df_obras.describe()

# verificar tipos de dados
df_obras.dtypes

idIntervencao                  object
nmPessoa                       object
nrDocumento                    object
cdIBGE                         object
nmMunicipio                    object
cdIntervencao                  object
nrAnoIntervencao               object
dsTipoIntervencao               int64
dsClassificacaoIntervencao      int64
nmIntervencao                  object
dsTipoObra                      int64
dsClassificacaoObra             int64
dsObjeto                       object
nrMedida                      float64
dsUnidadeMedidaIntervencao      int64
vlIntervencao                 float64
dtBaseValorIntervencao         object
nrPrazoExecucao               float64
dtInicio                       object
dsTipoRegimeIntervencao         int64
dtype: object

#### 1.10. Remova obras que não possuem nenhum acompanhamento registrado.

In [188]:
df_obras = df_obras[df_obras['idIntervencao'].isin(df_acompanhamentos['idIntervencao'])]

df_obras.shape

(44249, 20)

#### 1.11. Adicione uma nova coluna no dataframe de obras contendo a quantidade de acompanhamentos existentes para cada obra.

In [189]:
df_obras['qtd_acompanhamentos'] = df_obras['idIntervencao'].map(df_acompanhamentos['idIntervencao'].value_counts())

df_obras.head()

,idIntervencao,nmPessoa,nrDocumento,cdIBGE,nmMunicipio,cdIntervencao,nrAnoIntervencao,dsTipoIntervencao,dsClassificacaoIntervencao,nmIntervencao,...,dsClassificacaoObra,dsObjeto,nrMedida,dsUnidadeMedidaIntervencao,vlIntervencao,dtBaseValorIntervencao,nrPrazoExecucao,dtInicio,dsTipoRegimeIntervencao,qtd_acompanhamentos
1,1,CAMARA MUNICIPAL DE SAO JOSE DOS PINHAIS,78173648000157,25506,SÃO JOSÉ DOS PINHAIS,1,2012,0,0,Reforma da construção do pédio administrativo ...,...,9,"Reforma do prédio da Câmara Municipal, abrange...",1.300000e-06,4,0.002346,04/12/2012 00:00:00,0.0121,04/12/2012 00:00:00,0,5
2,2,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2012,0,0,REFORMA E AMPLIAÇÃO,...,10,fornecimento de materiais e mão de obra para r...,1.895510e-06,4,0.000882,14/09/2012 00:00:00,0.0121,24/09/2012 00:00:00,1,11
3,3,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2012,0,0,REFORMA,...,10,Fornecimento de materiais e mão de obra para r...,5.598900e-07,4,0.001147,14/09/2012 00:00:00,0.0121,24/09/2012 00:00:00,1,7
4,4,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,1,2011,0,0,CALÇADAS,...,12,EXECUÇÃO DE CALÇADAS EM RUAS DO CONJUNTO HABIT...,6.720830e-06,4,0.000752,09/05/2011 00:00:00,0.0113,19/05/2011 00:00:00,1,9
5,5,MUNICÍPIO DE TUPÃSSI,77877116000138,27957,TUPÃSSI,2,2011,0,0,PAVIMENTAÇÃO COM PEDRA IRREGULAR,...,13,Fornecimento de material e mão de obra para o ...,1.020000e-05,4,0.000785,10/06/2011 00:00:00,0.0121,20/06/2011 00:00:00,1,7

#### 1.12. Remova registros com valores discrepantes (outliers) para a coluna "vlIntervencao" para o conjunto de dados de obras.

In [190]:
Q1 = df_obras['vlIntervencao'].quantile(0.25)
Q3 = df_obras['vlIntervencao'].quantile(0.75)
IQR = Q3 - Q1

# Filtrar os outliers
df_obras = df_obras[(df_obras['vlIntervencao'] >= Q1 - 1.5 * IQR) & (df_obras['vlIntervencao'] <= Q3 + 1.5 * IQR)]

df_obras.shape

(39445, 21)

# 2. Agrupamento no Mall Customers

Utilize o conjunto de dados "Mall Customers" utilizado no notebook de exemplo para aplicar os algoritmos de agrupamento K-Means e DBSCAN. Lembre-se de obter os hiperparâmentros otimizados ao conjunto de dados (k e eps). Em sua resposta, contemple os seguintes itens:
- 2.1. Realize os pré-processamentos necessários no conjunto de dados
- 2.2. Realize o agrupamento utilizando K-Means
- 2.3. Realize o agrupamento utilizando DBScan
- 2.4. Calcule o Coeficiente de Silhueta e DBScore para os agrupamentos realizados. Compare os resultados.
- 2.5. Plote os dados e os seus respectivos grupos utilizando redução de dimensionalidade (PCA). Utilize o código do item 2.3.3 (Material Prático de Apoio) nesta tarefa. Você consegue inferir alguma observação a partir das duas visualizações?

Fonte: https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python

Este dataset contém as informações básicas (ID, idade, sexo, renda, pontuação de gastos) sobre os clientes.

Deverá ser utilizado o conjunto de dados do seguinte link: https://raw.githubusercontent.com/mateusqc/datasets/main/Mall_Customers_Clustering.csv